    <!-- About Section -->
    <section id="about" class="container content-section text-center about-section">
            <div class="col-lg-8 col-lg-offset-2">

              <div class="about-text">
                <h2>Murriel</h2>
                <!--<p>Murriel<br /> -->
                <em>
                  [ mjʊəriəl | myo̵or′ē əl] <br/ >
                  Proper Noun</em></p>
                <p>1. <em>(Bio)</em> Idealist, optimist, lapsed writer, surfer, beach bum, tinkerer, maker, conference junkie, former entrepreneur. Loves print magazines and good music, slightly obsessed with notebooks.
                <p>2. <em>(Tech)</em> Platform Engineering | DevOps | Developer Experience. Living somewhere between Cloud Native and Code, Open Source x Open Data x Info Sec x Hardware. 
                <p>3. <em>(Community)</em> Perennial volunteer, occasional community organizer. Passionate about the Los Angeles tech community, technology for social good, and encouraging girls to pursue interests in Science, Technology, Engineering, [Arts] and Math (STEAM).</p>
            <!--   See also:
              <a href="http://www.murrielgrace.com/blog">weblog</a>-->
            </div>
        </div>
    </section>
