    <!-- Speaking Section -->
    <section id="speaking" class="container content-section text-center speaking-section">
        <div class="col-lg-8 col-lg-offset-2 speaking-text">
            <h2>Speaking</h2>
            <p>Available for speaking engagements upon request. More details and slides are <a href="https://read.murrielgrace.com/pages/talks/">on the other side</a>
            </p>
            <h3>Previous Talks</h3>
            <p>
              <ul class="listtext listpost">
                <li class="list-heading"><h4>2025</h4></li>
                    <li>Google 0x0g: DevSecOps and AI Generated Code</li>
                    <li>Los Cerritos College, Career Panelist</li>
                    <li>Women@Google SoCal Lightning Talk Summit: Vibe Coding</li>
                    <li>SoCal Linux Expo | Cloud Native Track: Kubernetes Deployments (KubeCon Talk 2x + Live Demo, repeated at Portland Java Users Group)</li>
                <li class="list-heading"><h4>2024</h4></li>
                    <li>Google Developer Groups Greater LA DevFest: Hands-On Lab with Gemini Code Assist</li>
                    <li>KubeCon + CloudNativeCon Salt Lake: Bring Joy to your Kubernetes Deployments with Elizabeth Ponce</li>
                    <li>Women in Startups: Social Impact Summit: Event Organizer</li>
                    <li>PLV Wonderlust | Introduction to Wearable Electronics</li>
                    <li>Google Cloud LA Serverless:	Cloud Run and DevOps</li>
                    <li>Accelerate Software Delivery & Cloud Migration with Platform Engineering: Google x Blackline Tech Talk</li>
                    <li>Running Containers on Google Cloud: Google x Qualcomm Cloud Series</li>
                    <li>DevOps Days LA Organizer, Open Spaces Roundtable Facilitator</li>
                    <li>Google Cloud: Women in AI Panel (Moderator and Organizer)</li>
                    <li>STEM Careers Panel for Cerritos College MESA Students, Speaker</li>
                    <li>Filipino Googlers Network: Araw Mo 'To Career Summit Future of Software Development</li>
                <li class="list-heading"><h4>2023</h4></li>
                    <li>Google Cloud On Air Webinar: Cisco</li>
                    <li>Google Cloud Transform SF: DevOps and DORA</li>
                    <li>DevOpsDays LA: Open Spaces Moderator</li>
                    <li>CNCF Webinar - Building a cloud native CI/CD pipeline with Jay Smith</li>
                    <li>Google Cloud AI Day LA: Speaker, with Ben Royce & Nelly Wilson</li>
                    <li>SysDig Live & Labs: Securing Google Cloud and Containers</li>
                    <li>KubeCon Chicago: SysDig Booth Lightning talk - Cloud Native Security</li>
                <li class="list-heading"><h4>2022</h4></li>
                    <li>Toastmaster ACTS Club #416 Women in Technology: Guest Panelist</li>
                    <li>OpenSource@Google Internal Summit: Speaker</li>
                    <li>International Women’s Day, Google Developer Groups Sweden: DevOps, Progress Not Perfection</li>
                <li class="list-heading"><h4>2020</h4></li>
                    <li>Pasadena Python: Lightning Talk - Python in the time of Corona</li>
                    <li>Southern California Linux Expo: DevOps Secrets Management</li>
                <li class="list-heading"><h4>2019</h4></li>
                    <li>Speaker, Women's Voices in Tech Meetup: DevOps from the Ground Up</li>
                    <li>Speaker, KubeCon StackRox Booth: Cloud Native Security Discussion</li>
                    <li>Panelist, Girls Build LA + LAUSD/USC Media Arts & Engineering Magnet High School: Tech Careers Panel</li>
                    <li>Speaker, Southern California Linux Expo: Self-Care for Systems at Any Scale</li>
                <li class="list-heading"><h4>2018</h4></li>
                    <li>DevChat Speaker, AWS LA Summit: Elasticsearch for Beginners</li>
                <li class="list-heading"><h4>2015</h4></li>
                    <li>Panel Moderator, Silicon Beach Fest: Changing the Ecosystem <br /><em>Women in Tech, Actionable Advice for Change</em></li>
                    <li>Panel Moderator, Wonder Women Tech: Tech Careers Panel</li>
                <li class="list-heading"><h4>2014</h4></li>
                    <li>USC Fireside Chat with Lina Chen of Nix Hydra Games</li>
                <li class="list-heading"><h4>2012</h4></li>
                    <li>Panelist, Silicon Beach Fest: Women Developers</li>
                    <li>STEM in LA Mixer: Guest Speaker - STEM for Everyone</li>
            </ul>
            </p>
        </div>
    </section>
