    <!-- Speaking Section -->
    <section id="speaking" class="container content-section text-center speaking-section">
        <div class="col-lg-8 col-lg-offset-2 speaking-text">
            <h2>Speaking</h2>
            <p>Available for speaking engagements upon request. More details and slides are <a href="https://read.murrielgrace.com/pages/talks/">on the other side</a>
            </p>
            <h3>Previous Talks</h3>
            <p>
              <ul class="listtext listpost">
<li class="list-heading"><h4>2025</h4></li>
<li><a href="https://rsvp.withgoogle.com/events/0x0g-2025/home">August: 0x0g</a></li>
<li>March: Los Cerritos College, Career Panelist</li>
<li>March: Women@ SoCal Lightning Talk Summit: Vibe Coding [Murriel] Women@SoCal Lightning Talk Summit 2025</li>
<li>March: SoCal Linux Expo | Cloud Native Track: Kubernetes Deployments (Talk repeat + Live Demo, repeated at Portland Java Users Group)</li>
<li class="list-heading"><h4>2024</h4></li>
<li>November: 	GDG DevFest 2024 - Greater LA Area | Hands-On Lab with Gemini Code Assist</li>
<li>November:  	[External] Speaker for KubeCon + CloudNativeCon 2024 - Bring Joy to your Kubernetes Deployments</li>
<li>October: 	Women in Startups: Social Impact Summit - Event Organizer</li>
<li>September: 	PLV Wonderlust | Introduction to Wearable Electronics</li>
<li>LA Serverless:	Speaker - Cloud Run and DevOps</li>
<li>August: 		Customer Tech Talk: Blackline - Accelerate Software Delivery & Cloud Migration with Platform Engineering</li>
<li>		recording [Blackline] Platform Engineering Tech Talk</li>
<li>NEXT/Tech Summit Recap Session: 	Open Cloud</li>
<li>Qualcomm Internal Cloud Series:		 Running Containers on Google Cloud</li>
<li>March: 		[External] DevOps Days LA Organizer, Open Spaces Roundtable Facilitator</li>
<li class="list-heading"><h4>DEI Events</h4></li>
<li>March:	 Lead: Golden Coast DEI Women in AI Panel (Moderator and organizer)</li>
<li>April: 	Participant: STEM Careers Panel for Cerritos College MESA Students</li>
<li>June:	Participant: Office tour and mentorship: USC Summer Data Science Program for High School Seniors</li>
<li>October: Speaker: FGN Araw Mo To Career Summit</li>
<li class="list-heading"><h4>2023</h4></li>
<li>Customer: Google Cloud Digital Learning for Cisco: CloudOn Air Webinar</li>
<li>4/18 Transform SF: DORA MASTER DECK: Transform: SF 4/18</li>
<li>DevOpsDays LA: Moderator for open spaces lunch (community event)</li>
<li>Presenter: CNCF Webinar - building a cloud native CI/CD pipeline</li>
<li>Speaker: AI Day LA with Ben Royce, Nelly Wilson</li>
<li>Speaker: SysDig LIve Labs Securing Google Cloud and Containers</li>
<li>KubeCon booth lightning talk: SysDig booth</li>
<li>International Women's Day</li>
<li class="list-heading"><h4>2022</h4></li>
<li>SFSC Tech Summit and NEXT Recap Session: AppMod [Confirmed] Next 2022 and Tech Summit Summary (Infra) (2022-11-17 15:06 GMT-8) NEXT2022: AppMod</li>
<li>NA AppMod Community Meeting: 11.08.22 - Boingo Hackathon (15min lightning)</li>
<li>Toastmaster ACTS Club #416 Women in Technology: Guest Panelist 10.18.22</li>
<li>OpenSource@Google Internal Summit [go/OSGS2022]</li>
<li>Murriel McCabe OpenSource@Google Summit - Presentation</li>
<li>CoreLogic: Project Scientist: Career Day + STEM Hands On Workshops at El Sol Elementary Academy Project Scientist 2022</li>
<li>International Women’s Day GDG Sweden IWD - DevOps Progress Not Perfection 2022</li>
<li>International Women's Day 2022 - GDG West Sweden - Murriel McCabe, Sara Aghaeian, Moksha Mechanda</li>
                <li class="list-heading"><h4>2020</h4></li>
                <li>Speaker, Pasadena Python: Lightning Talk - Python in the time of Corona</li>
                <li>Speaker, Southern California Linux Expo: DevOps Secrets Management</li>
                <li class="list-heading"><h4>2019</h4></li>
                <li>Speaker, Women's Voices in Tech Meetup: DevOps from the Ground Up</li>
                <li>Speaker, KubeCon StackRox Booth: Cloud Native Security Discussion</li>
                <li>Panelist, Girls Build LA + LAUSD/USC Media Arts & Engineering Magnet High School: Tech Careers Panel</li>
                <li>Speaker, Southern California Linux Expo: Self-Care for Systems at Any Scale</li>
                <li class="list-heading"><h4>2018</h4></li>
                <li>DevChat Speaker, AWS LA Summit: Elasticsearch for Beginners</li>
                <li class="list-heading"><h4>2015</h4></li>
                <li>Panel Moderator, Silicon Beach Fest: Changing the Ecosystem <br /><em>Women in Tech, Actionable Advice for Change</em></li>
                <li>Panel Moderator, Wonder Women Tech: Tech Careers Panel</li>
                <li class="list-heading"><h4>2014</h4></li>
                <li>USC Fireside Chat with Lina Chen of Nix Hydra Games</li>
                <li class="list-heading"><h4>2012</h4></li>
                <li>Panelist, Silicon Beach Fest: Women Developers</li>
                <li>STEM in LA Mixer: Guest Speaker - STEM for Everyone</li>
            </ul>
            </p>
        </div>
    </section>
